* {
  box-sizing: border-box;
}

hr {
  width: 100%;
}

.GaragePage__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GaragePage__screen-wrapper {
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.GaragePage__add-car, .GaragePage__list, .GaragePage__selection, .GaragePage__add-dtc, .GaragePage__history {
  margin: 51px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}