* {
  box-sizing: border-box;
}

#RegisterForm__username-input, #RegisterForm__nickname-input, #RegisterForm__password-input, #RegisterForm__repeat-password-input, #RegisterForm__make-input {
  border: 1px solid;
  border-radius: .5em;
  border-color: #686868;
  font-size: smaller;
  margin: 12px 0;
  padding: 3px 21px 3px 3px;
}

.RegisterForm__button-div {
  display: flex;
  justify-content: center;
}

.RegisterForm__button {
  background-color: #E8E8E8;
  border-radius: .5em;
  font-size: medium;
  margin: 15px 0;
}

.RegisterForm__button:hover {
  border-color: #505050;
}

.RegisterForm__orange {
  color: #FB4D3D;
}