* {
  box-sizing: border-box;
}

.OnboardingAddDTCForm__dtc {
  margin: 12px 0;
}

#.OnboardingAddDTCForm__dtc-input {
  border: 1px solid;
  border-radius: .3em;
  border-color: #686868;
  font-size: medium;
  margin: 12px 0;
  color: silver
}

..OnboardingAddDTCForm__button {
  background-color: #E8E8E8;
  border-radius: .3em;
  font-size: medium;
}

..OnboardingAddDTCForm__button:hover {
  border-color: #505050;
}