* {
  box-sizing: border-box;
}

.Header__header {
  width: 100%;
  padding: 3%;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #296e01;
}

#Header__gear {
  height: 57px;
  width: 57px;
}

.Header__register, .Header_login {
  margin: 9px;
}

Link, Link:visited {
  color: #00acdf;
}

Link:hover {
  color: #32527B;
}