* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #000000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a, a:visited {
  color: #00acdf;
}

a:hover {
  color: #32527B;
}

header, footer {
  width: 100%;
  display: flex;
  padding: 3%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #296e01;
}

.gear-keep-driving {
  display: flex;
  align-items: center;
}

.user-info-div {
  text-align: right;
  margin-left: auto;
}

.user-info-ul {
  list-style-type: none;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#screen-wrapper {
  width: 72%;
}

.vin-dtc-section {
  margin: 72px 0 72px 0;
}

.dtc-comment-date {
  margin: 0 0 12px 0;
}

.dtc-comment-edit-delete {
  margin: 12px 0 0 0;
  text-align: right;
}

.dtc, .dtc-description {
  margin: 12px 0 12px 0;
}

#delete-link {
  margin: 0 0 0 9px;
}

.dtc-comment-delete-message {
  margin: 24px 0 12px 0;
  color: #296e01;
  font-weight: bold;
}